.grid {
  margin: 0 30vw 0 30vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

#CE {
  grid-column-start: 1;
}
#C {
  grid-column-start: 2;
}
#DEL {
  grid-column-start: span 2;
  display: inline-flex;
  text-align: center;
}

.btn-op {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  background-color: aliceblue;
  border-radius: 8px;
  margin: 0;
}

#screen {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid black;
  border-radius: 8px;
  grid-column-start: span 4;
  grid-row: span 2;
}

#summary {
}

#result {
}

#screen > div {
  border-radius: 8px;
  background-color: aliceblue;
  height: 50%;
  display: flex;
  align-items: end;
  justify-content: end;
}

#screen > div > span {
  font-size: 24px;
  padding: 8px;
  border-radius: 8px;
  background-color: aliceblue;
}
